.root {
    min-width: 75vw;
    min-height: 75vh;
    border-radius: 0.6rem;
    background-color: #1e1e1e;
    box-shadow: 0 0 0 1px var(--mantine-color-dark-5);
    border: 1px solid #767676;
}
.header {
    background-color: #393938;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
    border-bottom: 1px solid #191919;
    height: 2.5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    user-select: none;
}
.windowActionsWrapper {
    display: flex;
    grid-auto-flow: column;
    gap: 5px;
}
.windowAction {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.25vh;
    width: 1.25vh;
    border-radius: 50%;

    &:hover {
        cursor: grab;
    }

    &[data-action='minimize'] {
        background-color: #febb2e;
    }
    &[data-action='maximize'] {
        background-color: #29c740;
    }
    &[data-action='close'] {
        background-color: #fe5f57;
    }
}
.closeHoverIcon {
    color: #990000;
}
.minimizeHoverIcon {
    color: #985601;
}
.maximizeHoverIcon {
    color: #016200;
}
.titleWrapper {
    word-spacing: 1px;
    font-weight: bold;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}
.content {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
