.ascii {
    font-family: monospace;
    font-size: 0.75rem;
    white-space: pre;

    @media (max-width: 900px) {
        font-size: 0.5rem;
    }
    @media (max-width: 600px) {
        font-size: 0.35rem;
    }
    @media (max-width: 400px) {
        font-size: 0.25rem;
    }
    user-select: none;
}
