.wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 2rem;
    user-select: none;
}
.inputWrapperInput {
    background-color: transparent;
    border: transparent;
    color: white;
    outline: none;

    width: 100%;

    font-family: 'Inconsolata', monospace;

    &[data-valid='false'] {
        color: #fe5f58;
    }
    &[data-valid='true'] {
        color: #29c740;
    }
}
.inputWrapperRoot {
    width: 75%;
}
.tilda {
    color: #429bb8;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 5px #429bb8;
}
.user {
    font-weight: bold;
}
